/* HeaderComponent.css */
#logo-to-home-page {
    width: auto;
    height: 40px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.header-container {
    /* background-image: url('/path-to-your-cityscape-graffiti-image.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.nav-link {
    transition: color 0.3s ease-in-out;
    font-family: 'Graffiti Font', sans-serif;
}

.nav-link:hover {
    color: purple;
    font-weight: bold;
}

.animated-logo {
    transition: transform 0.3s ease-in-out;
}

.animated-logo:hover {
    transform: scale(1.2);
}