@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
    background-image: url('/background_header.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-repeat: no-repeat;
}

#logo-to-home-page {
    width: auto;
    height: 30vh;
    cursor: pointer;
    margin-left: 14.5rem;
    margin-top: -3rem;
}

.collapse.navbar-collapse {
    margin-top: -5rem;
    margin-right: 9vw;
    color: white;
}

.nav-link {
    transition: color 0.3s ease-in-out;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    /* Using calc() to combine rem and vw for font-size */
    font-size: calc(1rem + 0.7vw);
    /* Adjust the values as necessary */
    margin-right: 1vw;
}

.nav-link:hover {
    color: #F9AF28;
}

.nav-link.active {
    color: #F9AF28 !important;
}

.animated-logo {
    transition: transform 0.3s ease-in-out;
}

.animated-logo:hover {
    transform: scale(1.2);
}

@media (max-width: 1200px) {
    .nav-link {
        font-size: calc(0.5rem + 0.5vw);
        /* Adjust for medium screens */
    }

    .collapse.navbar-collapse {
        margin-top: -4rem;
        margin-right: -5vw;
    }

    #logo-to-home-page {
        margin-left: 13rem;
    }
}

@media (max-width: 1024px) {
    .nav-link {
        font-size: calc(0.2rem + 0.2vw);
        /* Adjust for smaller screens */
        margin-right: 1vw;
    }

    .collapse.navbar-collapse {
        margin-top: -4rem;
        margin-right: -5vw;
    }

    #logo-to-home-page {
        margin-left: 13rem;
    }
}

@media (max-width: 992px) {
    .nav-link {
        font-size: calc(0.1rem + 0.1vw);
        /* Adjust for even smaller screens */
        margin-right: 1vw;
    }

    .collapse.navbar-collapse {
        margin-top: -2rem;
    }
}

@media (max-width: 768px) {
    .nav-link {
        font-size: calc(1rem + 2vw);
        /* Larger scaling for mobile */
    }
}

@media (max-width: 600px) {
    .nav-link {
        font-size: calc(1rem + 2.5vw);
        /* Even larger scaling for small devices */
    }
}